* {box-sizing: border-box;}
  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc968;
  flex-direction: column;
}
h1 {
  text-transform: uppercase;
  color: #232323;
  text-shadow: 2px 2px 0px #ff4545, -2px -2px 0px #3fe9ff;
}
.App {
  border: 4px solid #232323;
  background-color: #fff;
  border-radius: 5px;
  width: 95vw;
  height: 80vh;
}

.Nodes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.Node {
  width: 85px;
  min-height: 85px;
  padding: 8px;
  margin: 2px;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  word-break: keep-all;
}
.Node.prev {
  width: 60px;
}
.Node.prev img {
  width: 30px;
  margin: 20px 0;
}

.Breadcrumb {
  height: 62px;
  padding: 16px;
  border-bottom: 4px solid #232323;
  display: flex;
  flex-direction: row;
}
.Breadcrumb > div {
  padding: 4px;
  font-weight: 600;
  text-transform: uppercase;
}
.Breadcrumb > div::after {
  content: " -";
}
.Breadcrumb > div:last-child::after {
  content: "";
}

.Modal {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.3);
}
.Modal.ImageViewer {
  backdrop-filter: blur(12px);
}

.Modal > div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Modal .content {
  width: 100%;
  max-width: 90vw;
  height: auto;
}
.Modal img {
  width: 100%;
}
img.error {
  height: 400px;
  margin: 10px auto;
}
.jsAction {
  cursor: pointer;
}

@media (min-width: 768px) {
  .App {
    border-width: 5px;
    border-radius: 6px;
    width: 85vw;
    height: 600px;
  }
  .Node {
    width: 130px;
    min-height: 130px;
    padding: 12px;
    margin: 8px;
  }
  .Node.prev {
    width: 90px;
  }
  .Node.prev img {
    width: 40px;
  }
  .Breadcrumb {
    border-bottom-width: 5px;
  }
  .Modal .content {
    max-width: 500px;
  }
}
@media (min-width: 1200px) {
  .App {
    border-width: 6px;
    border-radius: 8px;
    width: 800px;
    height: 600px;
  }
  .Node {
    width: 140px;
    min-height: 140px;
  }
  .Node.prev {
    width: 100px;
  }
  .Breadcrumb {
    border-bottom-width: 6px;
  }
}
